:root {
    /*    --primaryColor: #68217a;
    --secondaryColor: #f4f4f4;
    --bgMenuActive: #8e47a0;
    --bgButton: #68217a;
    --bgAside: var(--primaryColor);*/
    --logoImageUrl: url('https://avatars.githubusercontent.com/u/9030671?v=4');
}
